@import "~src/variables";

.back-button {
  margin: 10px 0;
}

.container {
  background-color: $backgroud-violet;

  .content {
    display: flex;

    .avatar {
      @include avatar-image;
    }

    .details {
      width: calc(100% - 256px);

      mat-card-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .edit {
        text-decoration: $primary;

        &:hover {
          cursor: pointer;
        }
      }

      .detail {
        padding-top: 20px;
        padding-left: 12px;
        display: flex;
        justify-content: space-between;
        width: 65%;
        line-height: 1.1;

        .label {
          font-weight: bold;
        }
      }
    }
  }

  .alerts {
    display: block;
    margin-top: 10px;

    .table-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      &-header {
        height: 69px;
        font-weight: bold;
      }

      div {
        width: 25%;
      }

      .photo {
        max-width: 56px;
        max-height: 69px;
        width: auto;
        height: auto;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }


  ::ng-deep mat-tab-header {
    width: 70%;
  }
}

