<mat-toolbar class="toolbar">
  <mat-toolbar-row class="header-container">
    <div class="logo-container">
      <img src="./assets/icons/az_logo.png" class="logo" alt="logo">
      <h3 class="logo-text">Azərbaycan Mərkəzi Bankı</h3>
    </div>
    <a class="nav-link" routerLink="/profiles" routerLinkActive="active">Profiles</a>
    <a class="nav-link" routerLink="/create-profile" routerLinkActive="active">Create profile</a>
    <a class="nav-link" (click)="onLogout()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
