@import "~src/variables";

.toolbar {
  background-color: $primary;

  .header-container {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    color: $gray9;
    display: flex;
    justify-content: space-between;


    .logo-container {
      display: flex;
      flex-direction: row;

      .logo {
        width: 54px;
        height: 57px;
        padding-right: 10px;

        &-text {
          padding-top: 13px;
        }
      }
    }

    .nav-link {
      color: $gray7;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: normal;

      &:hover {
        cursor: pointer;
      }

      &.active {
        color: $gray9;
        height: 30px;
        border-bottom: 2px solid $gray9;
      }

    }
  }
}
